
#page1, #page2, #page3, #page4, #page5, #page6, #page7 {
	display: block;
	float: right;
	margin-right: 100px;
}
#exo{
	background-color: aquamarine;
	margin-right: 500px;
	margin-left: 450px;
	padding-bottom: 20px;
}
form .input{
	text-align: center;
}
#alert{
	text-align: center;
	margin-top: 20px;
	color: red;
}

form{
	font-size: 15px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
