
body{
   font-family: Arial, Helvetica, sans-serif;
}
.horizontalMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
}

.horizontalMenuItems{
    align-content: end;
    display: flex;
    width: 30%;
    flex-direction: row;
    margin-right: 70px;
}

.horizontalMenuItem1, .horizontalMenuItem2, .horizontalMenuItem3,.horizontalMenuItem4,.horizontalMenuItem5{
    margin: 10px;
    margin-left: 15px;
}
.horizontalMenuItem1 a, .horizontalMenuItem2 a, .horizontalMenuItem3 a,.horizontalMenuItem4 a,.horizontalMenuItem5 a{
    text-decoration: none;
    color: grey;
}
.horizontalMenuItem1 a:hover, .horizontalMenuItem2 a:hover, .horizontalMenuItem3 a:hover,.horizontalMenuItem4 a:hover,.horizontalMenuItem5 a:hover{
    cursor: pointer;
    color: gold;
}

.banner{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 60px;
    height: 450px;
    justify-content: space-between;
}

.PresentationBanner{
    width: 60%;
}
.PresentationBannerFlex{
    display: flex;
}
.bannerImage{
    height: 235px;
}
.bannerAbout{
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.namebanner{
    width: 45%;

}
.namebanertitle{
    margin-top: -20px;
}
.namebanner h1{
    font-size: 300%;
}
.bannerText{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.bannerText .link .ReadMe{
    background-color: rgb(211, 59, 59);
    width: 40%;
    height: 40px;
    font-size: 17px;
    margin-top: 15px;
    color: white;
}
.bannerText .link .ReadMe:hover{
    cursor: pointer;
    background-color:rgb(2, 2, 35); 
}
.text{
    height: 130px;
}
.bannerText .text .presentation{
    margin-top: 15px;
    color: grey;
    font-size: 20px;
}
.link{ 
    height: 80px;
}

.BannerMenu{
    width: 25%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 30);
    color: white;
}
.bannerMenuItem1Text, .bannerMenuItem2Text, .bannerMenuItem2Text{
    margin-top: -10px;
}
.bannerMenuItem1Text, .bannerMenuItem2Text{
    margin-bottom: 20px;
}

.bannerMenuItem3Titel h3 a, .bannerMenuItem2Titel h3 a, .bannerMenuItem1Titel h3 a{
    color: white;
    text-decoration: none;
}
.bannerMenuItem3Titel h3 a:hover, .bannerMenuItem2Titel h3 a:hover, .bannerMenuItem1Titel h3 a:hover{
    color: gold; 
    cursor: pointer;
}

.bannerMenuTitel{
    height: 40px;
    margin-top: 15px;
    display: flex;
}

.bannerMenuTitel .titel{
    margin-bottom: 10px;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: gold;
    margin-left: 20px;
}

.bannerMenuItem1{
    height: 110px;
    margin-top: 15px;
}

.bannerMenuItem2{
    height: 110px;
    margin-top: 15px;

}

.bannerMenuItem3{
    height: 110px;
    margin-top: 15px;

}

.bannerImage img{
    height: 235px;
    width: 100%;
}

.publication{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 170px;
    margin-left: 60px;
    margin-top: 20px;
    justify-content: space-between;
}

.publication1, .publication2, .publication3{
    height: 170px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.publication3{
    margin-right: 110px;
}

.publication1Image, .publication2Image, .publication3Image{
    width: 45%;
}
.publication1Image img, .publication3Image img, .publication2Image img {
    width: 100%;
    height: 170px;
}
.publication1Text, .publication2Text, .publication3Text{
    width: 53%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.publication1Textnumero, .publication2Textnumero, .publication3Textnumero {
    height: 40px;
    font-size: 24px;
     font-weight: bold;
     color: grey;
     display: flex;
     flex-direction: column;
}


.publication1textTitle, .publication2textTitle, .publication3textTitle{
    margin-top: 10px;
    height: 20px;
    font-weight: bold; 
   
}
.publication1textContent, .publication2textContent, .publication3textContent{
    margin-top: 10px;
    height: 60px;
    color: grey;
}
