.row{
    margin-bottom: 15px;
}
/*
.row > div{
    border: 2px solid red;
}
*/

body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: Arial, Helvetica, sans-serif;
}

/* css header*/
.name{
    display: block;
    color: black;
}

.menu li{
    list-style-type: none;
    margin: 10px;
   display: inline-block;
}

.project, .competence, .contact, .paper, .git{
    font-size: 18px;
}
.project:hover, .competence:hover, .contact:hover, .paper:hover, .git:hover{
    text-decoration: overline;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    background-color: #f6b319;
}
.project:hover .dropdown-content{
    display: block;
}
.paper:hover .dropdown-content{
    display: block;
}

/*CSS section 1 */
.brevepresentation{
    
    margin-right: 130px;
    font-size: 24px;
    margin-top: 120px;
}
.photos{
   
    max-width: 500px;
    margin-top: 60px;
    margin-right: 25px;
    margin-left: 200px;
}
.menuSecond{
    float: right;
    margin-right: 200px;
    padding: 20px;
    padding-left: 20px;
    
}
.menuSecond li {
    list-style-type: none;
    margin: 10px;
   display: inline-block;
   font-size: 20px;
   text-align: center;
}
.oeuvre{
    background: greenyellow;
    padding: 20px;
    border-radius: 60px;
}
.lebenslauf{
    background-color: red;
    padding: 20px;
    border-radius:60px ;
} 
.joindre{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 60px;
}
.menuSecond3{
    display: none;
}

/*css footer */
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.panel-footer div.row{
    margin-bottom: 35px;
}
#phone, #adress{
    line-height: 2;
}

#phone > span, #adress > span{
    font-size: 1.3em;
}
#adress p{
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#email{
    font-style: italic;
}


/* css section 2 */
#section2{
    display: none;
}
.tutorbot, .projet1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
/* css section 3 */

#section3{
    display: none;
}
/*CSS section 4 PHD project*/

.phdimage{
    width: 700px;
    height: 500px;
    margin-top: 50px;
}
.resume, .phd{
    margin-top: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#section4{
    display: none;
}

/* CSS section 5 Exo Spacy*/

.codeImage{
    width: 700px;
    height: 500px;
}
.pythonExo, .summary{
    margin-top: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#section5, #section6{
    margin-top: 50px;
    display: none;
}



/*section competence*/

/*first competence*/

#skill{
    display: none;

}
.skill0{
    margin-top: 60px;
}

.skill1{
    display: block;
}


.skill1 .LfrontEnd{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    
}

.skill1 .LfrontEnd1{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}


.skill1 .LfrontEnd div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
}

.skill1 .LfrontEnd1 div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
     
}


.skill1 .bar-container .bar{
    width: 300px;
    height: 38px;
    border-radius: 20px;
    margin: 10px;

}

.skill1 .bar-container{
    float: left;
}

.bar-container .bar{
    background-color: gainsboro;

}

.skill1 .bar-container .bar .progesshtml, .skill1 .bar-container .bar .progessCss,
.skill1 .bar-container .bar .progessJS, .skill1 .bar-container .bar .progessresp {
    height: 38px;
    background-color: rgb(83, 108, 219);
    border-radius: 20px;

}



.skill1 .bar-container .bar .progesshtml{
    width: 275px;
    text-align: right;
}
.skill1 .bar-container .bar .progessCss{
    width: 230px;
    text-align: right;
}
.skill1 .bar-container .bar .progessJS{
    width: 160px;
    text-align: right;
}
.skill1 .bar-container .bar .progessresp{
    width: 200px;
    text-align: right;
}

/*second competences*/

.skill2{
    display: block;
}
.skill2 .Back-end{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    
}

.skill2 .Back-end2{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    
}


.skill2 .Back-end div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
}

.skill2 .Back-end2 div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
}

.skill2 .bar{
    width: 300px;
    height: 38px;
    border-radius: 20px;
    margin: 10px;

}

.skill2 .bar-container{
    float: left;
}

.skill2 .bar-container .bar{
    background-color: gainsboro;
}
.skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
.skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
    height: 38px;
    background-color: rgb(83, 108, 219);
    border-radius: 20px;

}

.skill2 .bar-container .bar .progessionNode1, .skill2 .bar-container .bar .progessionExpress2,
.skill2 .bar-container .bar .progessionDB3{
    height: 38px;
    background-color: rgb(83, 108, 219);
    border-radius: 20px;

}

.skill2 .bar-container .bar .progessionNode{
    width: 150px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionNode1{
    width: 160px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionExpress{
    width: 100px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionExpress2{
    width: 100px;
    text-align: right;
}
.skill2 .bar-container .bar .progessionDB{
    width: 100px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionDB3{
    width: 270px;
    text-align: right;
}


.skill2 .bar-container .bar .progessionVC{
    width: 200px;
    text-align: right;
}

#fahigkeit{
    display: none;
}

/* troisieme competence*/



/* css responsive */


@media all and (max-width: 1350px){
    .photos{
        margin-left: 66px;
    }
    .menuSecond{
        display: none;
    }
    .menuSecond3{
        display: block;
    }
    .menuSecond3 li {
        list-style-type: none;
        margin: 10px;
        margin-right: 50px;
       font-size: 24px;
       text-align: center; 
    }
    .acte{
        background: greenyellow;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }
    .cv{
        background-color: red;
        padding: 10px;
        border-radius:60px ;
        display: flex;
    } 
    .appel{
        background-color: aquamarine;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }


}
@media all and (max-width: 750px){
    .menuPrincipal{
        margin-right: 40px;
    }
    .project, .competence, .contact{
        display: block;
        font-size: 12px;
       
    }
    
    .photos{
        width: 300px;
        margin-top: -11px;
        margin-left: 20px; 
    }
    .brevepresentation{
        margin: auto;
        font-size: 20px;
        text-align: justify;
        
    }
    .menuSecond{
        display: none;
    }
    .menuSecond3{
        display: block;
    }
    .menuSecond3 li {
        list-style-type: none;
        margin: 10px;
        margin-right: 50px;
       font-size: 17px;
       text-align: center; 
    }
    .acte{
        background: greenyellow;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }
    .cv{
        background-color: red;
        padding: 10px;
        border-radius:60px ;
        display: flex;
    } 
    .appel{
        background-color: aquamarine;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }
    
}

#header-nav{
    background-color: #f6b319;;
    border-radius: 0;
    border: 0;
}

#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: #951c49;
    text-align: center;
}
#nav-list a:hover{
    background-color: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon.bar{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{

    clear: both;
    margin-top: -30px;
}

/*.skill2 .bar-container {
    margin-left: 90px;
}*/
/*large devices only */
@media (min-width:1200px){
  

}

/* Medium devices only */
@media (min-width:992px) and (max-width:1999px) {
  
    
}

/*small devices only */
@media (min-width:768px) and (max-width:991px) {
    
}

/* extra small devices */
@media (max-width:767px){
    #collapsable-nav a{
        font-size: 1.2em;
    }
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    embed{
        width: 300px;
        height: 100px;
    }
    .phdimage{
        width: 340px;
        height: 300px;
    }

    .skill1 .LfrontEnd{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        
    }

    .skill1 .bar-container .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }

    .skill1 .bar-container .bar .progesshtml, .skill1 .bar-container .bar .progessCss,
    .skill1 .bar-container .bar .progessJS, .skill1 .bar-container .bar .progessresp {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;

    }



    .skill1 .bar-container .bar .progesshtml{
        width: 187px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessCss{
        width: 142px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessJS{
        width: 80px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessresp{
        width: 112px;
        text-align: right;
    }

    .skill2 .Back-end{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    
    .skill2 .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }
    
    .skill2 .bar-container{
        float: left;
    }
    
    .skill2 .bar-container .bar{
        background-color: gainsboro;
    }
    .skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
    .skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;
    
    }

    .skill1 .LfrontEnd1{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        
    }

    .skill2 .Back-end2{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    
    .skill2 .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }
    
    .skill2 .bar-container{
        float: right;
    }
    
    .skill2 .bar-container .bar{
        background-color: gainsboro;
    }
    .skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
    .skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;
    
    }

    .skill2 .bar-container .bar .progessionNode1, .skill2 .bar-container .bar .progessionExpress2,
    .skill2 .bar-container .bar .progessionDB3{
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;

    }

    .skill2 .bar-container .bar .progessionDB3{
        width: 182px;
        text-align: right;
    }

    .paper, .dropdown-content{
        font-size: 15px;
    }
}
