.row{
    margin-bottom: 15px;
}
/*
.row > div{
    border: 2px solid red;
}
*/

body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: Arial, Helvetica, sans-serif;
}

/* css header*/
.name{
    display: block;
    color: black;
}

.menu li{
    list-style-type: none;
    margin: 10px;
   display: inline-block;
   
}

.project, .competence, .contact, .paper, .webChallenge, .git{
    font-size: 18px;
    
}
.project:hover, .competence:hover, .contact:hover, .paper:hover, .git:hover, .webChallenge:hover{
    text-decoration: overline;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    background-color: #f6b319;
}
.project:hover .dropdown-content{
    display: block;
}
.paper:hover .dropdown-content, .webChallenge:hover .dropdown-content{
    display: block;
}

/*CSS section 1 */
.brevepresentation{
    
    margin-right: 130px;
    font-size: 24px;
    margin-top: 120px;
}

@keyframes photoProfil {
    from{transform: scale(0,0);}
    to{transform: scale(1, 1)}
}
.photos{
   
    max-width: 500px;
    margin-top: 60px;
    margin-right: 25px;
    margin-left: 200px;
    animation-name: photoProfil;
    animation-duration: 3s;
}
.menuSecond{
    float: right;
    margin-right: 200px;
    padding: 20px;
    padding-left: 20px;
    
}
.menuSecond li {
    list-style-type: none;
    margin: 10px;
   display: inline-block;
   font-size: 20px;
   text-align: center;
}
.oeuvre{
    background: greenyellow;
    padding: 20px;
    border-radius: 60px;
}
.lebenslauf{
    background-color: red;
    padding: 20px;
    border-radius:60px ;
} 
.joindre{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 60px;
}
.menuSecond3{
    display: none;
}
/*//////////////////////////////////////////////////////////////////*/
.FrontEndWebChallenge{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750Px;
}
.FrontEndWebChallengeTitel{
    width: 50%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 20px;
    height: 80px;
    text-align: center;
    margin-left: 380px;
}
.qualitiesMySkill{
    width: 50%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 76px;
    height: 80px;
    text-align: center;
    margin-left: 380px;
}
.FrontEndWebChallengeTitel p{
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.qualitiesMySkill p{
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.FrontProjets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 787px;
    margin-top: 30px;
}
.multiSepForm, .homePage, .multiHomePage{
    display: flex;
    flex-direction: column;
    height: 644px;
    width: 30%;
}
.multiHomePage{
    margin-right: 35px;
}
.multiSepForm{
    margin-left: 35px;
}
.multiSepFormImage{
    height: 300px;
}
.homePageImage, .multiHomePageImage{
    height: 400px;
}
.multiSepFormImage img, .homePageImage img, .multiHomePageImage img{
    width: 100%;
    height:100%;
}
.multiSepFormImage img:hover, .homePageImage img:hover, .multiHomePageImage img:hover{
    cursor: pointer;
}
a .multiSepFomTitel , a .homePageTitel ,  a .multiHomePageTitel{
    height: 50px;
    margin-top: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
     text-decoration-line: none;
}
a:hover{
    text-decoration: none;
    opacity: 0.5;
}
.multiSepFomTitel:hover, .homePageTitel.hover, .multiHomePageTitel:hover{
   cursor: pointer;
}
.multiSepFormDescription, .homePageDescription, .multiHomePageDescription{
    margin-top: 10px;
    color: white;
    height: 359px;
}
.multiSepFormDescription h3, .homePageDescription h3, .multiHomePageDescription h3{
    font-size: 18px;
}

/*//////// Slides//////////////////////////*/
 .slide{
            width: 80%;
            display: none;
            flex-direction: column;
            align-items: center;
            animation-name: fade;
            animation-duration: 1.5s;
            position: relative;
            transform: translateX(130px);
        }
        
        .numberSlide{
            margin-right: 15px;
            position: absolute;
        }
        .imageSlide{
            width: 50%;
            margin-right: 15px;
            margin-top: 15px;
        }
        .textSlide{
            width: 50%;
            font-size: 15px;
            padding: 8px 12px;
            font-family: Verdana, sans-serif;
        }
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            margin-top: 20px;
        }

        .active {
            background-color: #717171;
        }
        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
            }

/*////////////////////////////////////////////////////////////////////////////*/


.qualities{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 590px;
    margin-top: 60px;
}
.myStrengths{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 30px;
}

.myStrengths .title, .myWeaknesses .title, .myAmbitions .title{
    height: 50px;
    text-align: center;
    cursor: pointer;
}



.myStrengths .image:hover, .myWeaknesses .image:hover,.myAmbitions .image:hover{
    opacity: 0.6;
    cursor: pointer;
}
@keyframes imageAnimation{
    fom{transform: scale(1,1);}
    to {transform: scale(0.5,0.5);}
}

.myStrengths .image img, .myWeaknesses .image img, .myAmbitions .image img{
    width: 100%;
    height: 240px;
    animation: imageAnimation; 
    animation-duration: 3s;
    animation-direction: reverse;
}
.myStrengths .text, .myWeaknesses .text, .myAmbitions .text{
    height: 270px;
    margin-top: 20px;
    text-align: center;
    font-size: 100%;
}
.myStrengths .text ul, .myWeaknesses .text ul, .myAmbitions .text ul {
    list-style-type: none;
    margin-right: 50px;
  }

  .myStrengths .text ul li, .myWeaknesses .text ul li, .myAmbitions .text ul li {
    margin-top: -13px;
  }

  .myAmbitions .text ul li {
    margin-right: -17px;
  }
  



.myWeaknesses{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 20px;
}

.myAmbitions{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 20px;
    margin-right: 30px;
}



/*css footer */
.panel-footer{
    margin-top: 140px;
    padding-top: 35px;
    background-color: #222;
    border-top: 0;
}

#phone, #adress{
    line-height: 2;
}

#phone > span, #adress > span{
    font-size: 1.3em;
}
#adress p{
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#email{
    font-style: italic;
}


/* css section 2 */
#section2{
    display: none;
}
.tutorbot, .projet1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

video{
    width: 83%; 
    height: 360px; 
}
/* css section 3 */

#section3{
    display: none;
}
/*CSS section 4 PHD project*/

.phdimage{
    width: 700px;
    height: 500px;
    margin-top: 50px;
}
.resume, .phd{
    margin-top: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#section4{
    display: none;
}

/* CSS section 5 Exo Spacy*/

.codeImage{
    width: 700px;
    height: 500px;
}
.pythonExo, .summary{
    margin-top: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#section5, #section6{
    margin-top: 50px;
    display: none;
}



/*section competence*/

/*first competence*/

#skill{
    display: none;

}
.skill0{
    margin-top: 60px;
}

.skill1{
    display: block;
}


.skill1 .LfrontEnd{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    
}

.skill1 .LfrontEnd1{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}


.skill1 .LfrontEnd div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
}

.skill1 .LfrontEnd1 div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
     
}


.skill1 .bar-container .bar{
    width: 300px;
    height: 38px;
    border-radius: 20px;
    margin: 10px;

}

.skill1 .bar-container{
    float: left;
}

.bar-container .bar{
    background-color: gainsboro;

}

.skill1 .bar-container .bar .progesshtml, .skill1 .bar-container .bar .progessCss,
.skill1 .bar-container .bar .progessJS, .skill1 .bar-container .bar .progessresp {
    height: 38px;
    background-color: rgb(83, 108, 219);
    border-radius: 20px;

}



.skill1 .bar-container .bar .progesshtml{
    width: 275px;
    text-align: right;
}
.skill1 .bar-container .bar .progessCss{
    width: 230px;
    text-align: right;
}
.skill1 .bar-container .bar .progessJS{
    width: 160px;
    text-align: right;
}
.skill1 .bar-container .bar .progessresp{
    width: 200px;
    text-align: right;
}

/*second competences*/

.skill2{
    display: block;
}
.skill2 .Back-end{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    
}

.skill2 .Back-end2{
    display: block;
    font-size: 20px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    
}


.skill2 .Back-end div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
}

.skill2 .Back-end2 div {
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 9.91px 9.91px 15px #D9E355,
     inset -9.91px -9.91px 15px #FFFF65;
     padding: 5px;
}

.skill2 .bar{
    width: 300px;
    height: 38px;
    border-radius: 20px;
    margin: 10px;

}

.skill2 .bar-container{
    float: left;
}

.skill2 .bar-container .bar{
    background-color: gainsboro;
}
.skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
.skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
    height: 38px;
    background-color: rgb(83, 108, 219);
    border-radius: 20px;

}

.skill2 .bar-container .bar .progessionNode1, .skill2 .bar-container .bar .progessionExpress2,
.skill2 .bar-container .bar .progessionDB3{
    height: 38px;
    background-color: rgb(83, 108, 219);
    border-radius: 20px;

}

.skill2 .bar-container .bar .progessionNode{
    width: 150px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionNode1{
    width: 160px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionExpress{
    width: 100px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionExpress2{
    width: 100px;
    text-align: right;
}
.skill2 .bar-container .bar .progessionDB{
    width: 100px;
    text-align: right;
}

.skill2 .bar-container .bar .progessionDB3{
    width: 270px;
    text-align: right;
}


.skill2 .bar-container .bar .progessionVC{
    width: 200px;
    text-align: right;
}

#fahigkeit{
    display: none;
}

/* troisieme competence*/



/* css responsive */


@media all and (max-width: 1232px){
    .photos{
        margin-left: 66px;
    }
    .menuSecond{
        display: none;
    }
    .menuSecond3{
        display: block;
    }
    .menuSecond3 li {
        list-style-type: none;
        margin: 10px;
        margin-right: 50px;
       font-size: 24px;
       text-align: center; 
    }
    .acte{
        background: greenyellow;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }
    .cv{
        background-color: red;
        padding: 10px;
        border-radius:60px ;
        display: flex;
    } 
    .appel{
        background-color: aquamarine;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }

    .FrontEndWebChallengeTitel {
        width: 69%;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin-top: 20px;
        height: 80px;
        text-align: center;
        margin-left: 120px;
    }
    .multiSepForm, .homePage, .multiHomePage {
        display: flex;
        flex-direction: column;
        height: 644px;
        width: 24%;
    }

    a .multiSepFomTitel, a .homePageTitel, a .multiHomePageTitel {
        height: 50px;
        margin-top: 15px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        text-decoration-line: none;
    }
    h3 {
        font-size: 17px;
    }
.homePage {
        display: flex;
        flex-direction: column;
        height: 610px;
        width: 23%;
    }
    .FrontEndWebChallenge {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 870Px;
    }

    .qualitiesMySkill {
        width: 69%;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin-top: 76px;
        height: 80px;
        text-align: center;
        margin-left: 120px;
    }


}
@media all and (max-width: 1147px){
    .col-md-6 {
        width: 72%;
    }
}
@media all and (max-width: 750px){
    .menuPrincipal{
        margin-right: 40px;
    }
    .project, .competence, .contact{
        display: block;
        font-size: 12px;
       
    }
    
    .photos{
        width: 300px;
        margin-top: -11px;
        margin-left: 20px; 
    }
    .brevepresentation{
        margin: auto;
        font-size: 20px;
        text-align: justify;
        
    }
    .menuSecond{
        display: none;
    }
    .menuSecond3{
        display: block;
    }
    .menuSecond3 li {
        list-style-type: none;
        margin: 10px;
        margin-right: 50px;
       font-size: 17px;
       text-align: center; 
    }
    .acte{
        background: greenyellow;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }
    .cv{
        background-color: red;
        padding: 10px;
        border-radius:60px ;
        display: flex;
    } 
    .appel{
        background-color: aquamarine;
        padding: 10px;
        border-radius: 60px;
        display: flex;
    }
    
}

#header-nav{
    background-color: #f6b319;;
    border-radius: 0;
    border: 0;
}

#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: #951c49;
    text-align: center;
}
#nav-list a:hover{
    background-color: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon.bar{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{

    clear: both;
    margin-top: -30px;
}

/*.skill2 .bar-container {
    margin-left: 90px;
}*/
/*large devices only */
@media (min-width:1200px){
  

}

/* Medium devices only */
@media (min-width:992px) and (max-width:1999px) {
  
    .photos {
        max-width: 500px;
        margin-top: 107px;
        margin-right: 25px;
        margin-left: 80px;
        animation-name: photoProfil;
        animation-duration: 3s;
    }

    .menuSecond {
        float: right;
        margin-right: 100px;
        padding: 20px;
        padding-left: 85px;
        width: 100%;
    }
}

/*small devices only */
@media (min-width:768px) and (max-width:991px) {
    .brevepresentation {
        margin-right: -155px;
        font-size: 24px;
        margin-top: 82px;
        margin-left: 64px;
    }
    .photos {
        margin-left: 148px;
    }
    
}

/* extra small devices */
@media (max-width:767px){

    
    .qualities {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        height: 1555px;
        margin-top: 20px;
    }

    .myStrengths  {
        display: flex;
        flex-direction: column;
        width: 84%;
        margin-left: 30px;
    }

    

    .myWeaknesses {
        display: flex;
        flex-direction: column;
        width: 84%;
        margin-left: 20px;
        margin-top: -66px;
    }

    .myAmbitions {
        display: flex;
        flex-direction: column;
        width: 84%;
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 20px;
    }
    #collapsable-nav a{
        font-size: 1.2em;
    }
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    video{
        width: 350px;
        height: 250px;
    }
    .phdimage{
        width: 340px;
        height: 300px;
    }

    .skill1 .LfrontEnd{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        
    }

    .skill1 .bar-container .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }

    .skill1 .bar-container .bar .progesshtml, .skill1 .bar-container .bar .progessCss,
    .skill1 .bar-container .bar .progessJS, .skill1 .bar-container .bar .progessresp {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;

    }



    .skill1 .bar-container .bar .progesshtml{
        width: 187px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessCss{
        width: 142px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessJS{
        width: 80px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessresp{
        width: 112px;
        text-align: right;
    }

    .skill2 .Back-end{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    
    .skill2 .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }
    
    .skill2 .bar-container{
        float: left;
    }
    
    .skill2 .bar-container .bar{
        background-color: gainsboro;
    }
    .skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
    .skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;
    
    }

    .skill1 .LfrontEnd1{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        
    }

    .skill2 .Back-end2{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    
    .skill2 .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }
    
    .skill2 .bar-container{
        float: right;
    }
    
    .skill2 .bar-container .bar{
        background-color: gainsboro;
    }
    .skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
    .skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;
    
    }

    .skill2 .bar-container .bar .progessionNode1, .skill2 .bar-container .bar .progessionExpress2,
    .skill2 .bar-container .bar .progessionDB3{
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;

    }

    .skill2 .bar-container .bar .progessionDB3{
        width: 182px;
        text-align: right;
    }

    .paper, .dropdown-content, .webChallenge{
        font-size: 15px;
    }

    
}

@media (max-width:640px){
    #collapsable-nav a{
        font-size: 1.2em;
    }
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    video{
        width: 350px;
        height: 250px;
    }
    .phdimage{
        width: 340px;
        height: 300px;
    }

    .skill1 .LfrontEnd{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        
    }

    .skill1 .bar-container .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }

    .skill1 .bar-container .bar .progesshtml, .skill1 .bar-container .bar .progessCss,
    .skill1 .bar-container .bar .progessJS, .skill1 .bar-container .bar .progessresp {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;

    }



    .skill1 .bar-container .bar .progesshtml{
        width: 187px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessCss{
        width: 142px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessJS{
        width: 80px;
        text-align: right;
    }
    .skill1 .bar-container .bar .progessresp{
        width: 112px;
        text-align: right;
    }

    .skill2 .Back-end{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    
    .skill2 .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }
    
    .skill2 .bar-container{
        float: left;
    }
    
    .skill2 .bar-container .bar{
        background-color: gainsboro;
    }
    .skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
    .skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;
    
    }

    .skill1 .LfrontEnd1{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        
    }

    .skill2 .Back-end2{
        display: block;
        font-size: 15px;
        font-weight: 500px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
    }
    
    .skill2 .bar{
        width: 212px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
    
    }
    
    .skill2 .bar-container{
        float: right;
    }
    
    .skill2 .bar-container .bar{
        background-color: gainsboro;
    }
    .skill2 .bar-container .bar .progessionNode, .skill2 .bar-container .bar .progessionExpress,
    .skill2 .bar-container .bar .progessionDB, .skill2 .bar-container .bar .progessionVC {
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;
    
    }

    .skill2 .bar-container .bar .progessionNode1, .skill2 .bar-container .bar .progessionExpress2,
    .skill2 .bar-container .bar .progessionDB3{
        height: 30px;
        background-color: rgb(83, 108, 219);
        border-radius: 20px;

    }

    .skill2 .bar-container .bar .progessionDB3{
        width: 182px;
        text-align: right;
    }

    .paper, .dropdown-content, .webChallenge{
        font-size: 15px;
    }

    .FrontEndWebChallengeTitel {
        width: 76%;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin-top: 20px;
        height: 80px;
        text-align: center;
        margin-left: 45px;
    }

    .FrontProjets {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 787px;
        margin-top: 30px;
    }
    .multiSepFormImage {
        
        width: 100%;
        height: 100%;
    }
    .multiSepForm, .homePage, .multiHomePage {
        display: flex;
        flex-direction: column;
        height: 644px;
        width: 72%;
        margin-left: 50px;
    }
    .FrontEndWebChallenge {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 2083Px;
    }
    .homePage {
        display: flex;
        flex-direction: column;
        height: 644px;
        width: 72%;
        margin-left: 50px;
        margin-top: 74px;
    }
    .qualitiesMySkill {
        width: 71%;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin-top: 96px;
        height: 80px;
        text-align: center;
        margin-left: 51px;
    }

    .col-md-6 {
        width: 99%;
    }
    .nav>li {
        position: relative;
        display: block;
        font-size: 12px;
    }
    #collapsable-nav a {
        font-size: 10px;
    }

}
