body{
    background-image: url("background-home-desktop.jpg");
    font-family: 'Lora', serif;
    font-family: 'Oxygen', sans-serif;   
}
.responsiveMenu {
    width: 100%;
    height: 630px;
    background-image: url(background-home-mobile.jpg);
    background-size: 98% 506px;
    background-repeat: no-repeat;
    z-index: 3;
    position: fixed;
    display: none;
}


.responsiveMenu img {
    width: 9%;
    height: 8%;
    margin-left: 80%;
    margin-top: 34px;
}
.menuresponsive{
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: white;
}
.homeResponsive, .destinationResponsive, .crewResponsive, .technologieResponsive{
    margin: 20px;
}
.mainContain{
    display: block;
    position: absolute;
    
}

.menubar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.menuNavigation{
    display: flex;
    flex-direction:row; 
    background:linear-gradient(to right, rgb(1, 1, 43), rgb(78, 95, 116), rgb(3, 3, 57));
    color: white;
    width: 55%;
    height: 80px;
    margin-right: -7px;
    z-index: 0;
}

.hamburger{
    width: 10%;
    height: 60px; 
    z-index: 1;
    margin-top: 21px;
    display: none;
}
.menubar img{
    
    width: 100%;
    height: 30px;
}
.home{
    margin-left: 60px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.homeline{
    width: 100%;
    border: 3px solid white;
    margin-top: 25px;
    display: block;
}
.destinationline, .crewline, .technologieline{
    width: 100%;
    border: 3px solid white;
    margin-top: 25px;
    display: none;
}
.destination, .crew, .technologie{
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}
.home:hover, .destination:hover, .crew:hover, .technologie:hover{
    cursor: pointer;
}
.menuLogo{
    margin-top: 20px;
    margin-left: 40px;
}
.number{
    font-weight: bold;
    margin-right: 8px;
}
/* home page*/

.firstPage{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.textContent{
    width: 33%;
    color: white;
    margin-top: 260px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}


.imageContent{
    width: 50%;
    color: white;
    margin-top: 260px;
}

.textContentText{
    font-size: 14px;
    margin-top: -35px;
    margin-right: 27px;
    padding-right: 20px;
    height: 130px;
    letter-spacing: 1px;
}
.spaceTitel{
    font-stretch: extra-expanded;
    letter-spacing: 6px;
    font-size: 20px;
    margin-top: 30px;
}
.spacetext{
    font-size: 120px;;
    font-stretch: extra-expanded;
    letter-spacing: 15px;
    height: 170px;
    margin-top: -22px;
}
.imageContent .buttonExplore{
    width:30%;
    height: 220px;
    background-color: white;
    color: navy;
    border-radius: 50%;
    font-size: 24px;
}
.buttonExplore{
    margin-top: 80px;
    margin-left: 300px;
}

/*second page*/
.secondPage{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.planet, .planetText{
    width: 80%;
    height: 573px;
}
.planet{
    display: flex;
    flex-direction: column;
}
.planetTitel{
    width: 80%;
    height: 70px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}
.planetTitel .titel{
    margin-left: 20px;
}
.planetImage{
    width: 70%;
    height: 360px;
    margin-left: 191px;
    margin-top: 72px;

}
.planetImage img{
    width: 74%;
    height: 100%;
}

.planetText{
    width: 80%;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.subMenu{
    width: 60%;
    height:10%;
    display: flex;
    flex-direction: row;
    color: white;
}
.marsMenu, .europaMemu, .titanMenu{
    margin-left: 20px;
    cursor: pointer;
}

.moonMenu{
    cursor: pointer
}

.barre, .barreMars, .barreEuropa, .barreTitan{
    width:100%;
    border: 2px solid white;
    margin-top: 10px;
    display: none;

}

.mainTitel{
    width: 60%;
    height:15%;
    color: white;
    font-size: 80px;
}
.planetTitel{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.planetText .text{
    width: 60%;
    height:20%;
    color: white;
    margin-top: 30px;
}
.planetText .additions{
    width: 60%;
    height:30%;
    display: flex;
    flex-direction: row;
    color: white;
}
.distance{
    display: flex;
    flex-direction: column;
}
.avgDistance, .travelTime{
    font-size: 14px;
}
.Miles, .month{
    margin-top: 10px;
    font-size: 30px;
}
.time{
    margin-left: 60px;
}

/*//////////////////// page3 /////////////////*/

.thirdPage{
    display: none;
    flex-direction: row; 
    margin-top: 50px;
    color: white;
}
.crewDescription{
    display: flex;
    flex-direction: column;
    width: 50%; 
}
.crewTitel{
    width: 80%;
    height: 70px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}
.crewTitel .titel{
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.crewtext{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 130px;
}
.flight_ingenieur{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.Anousheh_Ansari{
    margin-top: 20px;
    font-size: 50px;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    letter-spacing: 2px;
    height: 50px;

}

.crewtext .text{
    margin-top: 40px;
    width: 70%;
}

.radioManu{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    height: 80px;
    margin-left: 130px;

}
.radioManu1, .radioManu2, .radiomanu3, .radiomanu4 {
    width: 2%;
    height: 13px;
    border-radius: 50px;
    background-color: gray;
    margin-left: 10px;
}
.radioManu1{
    background-color: white;
}
.imagActor{
    margin-top: 148px;
}

/*///////////////////////////////Fourpage//////////////////////////*/

.fourPage{
    display: none;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}
.technololgieDescription, .technologieImage{
    display: flex;
    width: 65%;
    height: 650px;
    margin-top: 45px;
}
.technologieImage{
    display: flex;
    width: 35%;
    margin-top: 45px;
}
.technololgieDescription{
    display: flex;
    flex-direction: column;
}
.technologieTitel{
    width: 80%;
    height: 70px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.technologieTitel .titel{
    margin-left: 20px;
    
}
.technologiecontain{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 450px;
    margin-top: 60px;
}
.technologiecontainMenu{
    width: 55%; 
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.technologiecontainMenuNumber1, .technologiecontainMenuNumber2, .technologiecontainMenuNumber3 {
    width:40%;
    height: 60px;
    border: 1px solid white;
    color: white;
    margin-top: 35px;
    border-radius: 90px;
}
.technologiecontainMenuNumber1:hover, .technologiecontainMenuNumber2:hover, .technologiecontainMenuNumber3:hover{
    cursor: pointer;
}
.technologiecontainMenuNumberButton{
    margin-left: 40%;
    margin-top: 15px;
    font-size: 20px;
}
.technologiecontainText{
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 60px;
}
.technologiecontainTextTechnologie{
    letter-spacing: 2px;
}
.technologiecontainTextTitel{
    letter-spacing: 5px;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 20px;
}
.image-launch-vehicle-portrait{
    width: 100%;
    height: 70%;
    margin-top: 70px;
}
.technologiecontainTextTitelText{
    margin-right: 135px;
    font-size: 15px;
   text-align: justify;
}

/*////////////////////////////responsive design//////////////////*/

@media all and (max-width: 1222px){

}

@media (min-width:641px) and (max-width:1222px) {

}

@media all and  (max-width:640px){
      body {
    background-image: url("background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 966px;
    font-family: 'Oxygen', sans-serif;
    }

    .menuNavigation {
        display: none;
        
    }

    .hamburger {
        width: 10%;
        height: 60px;
        z-index: 1;
        margin-top: 15px;
        display: block;
        margin-right: 31px;
    }
    .menuLogo {
        margin-top: 20px;
        margin-left: 26px;
    }
    .firstPage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -187px;
    }
    .textContent {
        width: 82%;
        color: white;
        margin-top: 260px;
        margin-left: 36px;
        display: flex;
        flex-direction: column;
    }

    .spaceTitel {
        font-stretch: extra-expanded;
        letter-spacing: 5px;
        font-size: 13px;
        margin-top: 0px;
    }
    .spacetext {
        font-size: 82px;
        font-stretch: extra-expanded;
        letter-spacing: 10px;
        height: 170px;
        margin-top: 15px;
    }

    .spacetext {
        font-size: 82px;
        font-stretch: extra-expanded;
        letter-spacing: 10px;
        height: 170px;
        margin-top: 15px;
    }

    .textContentText {
        font-size: 14px;
        margin-top: -35px;
        margin-right: 27px;
        padding-right: 20px;
        height: 130px;
        letter-spacing: 1px;
        width: 92%;
        text-align: center;
    }

    .imageContent .buttonExplore {
        width: 105%;
        height: 193px;
        background-color: white;
        color: navy;
        border-radius: 50%;
        font-size: 24px;
        margin-left: 88px;
        margin-top: -130px;
    }
}
